@import "tailwindcss";

@font-face {
  font-family: 'FavoritMonoStd';
  src: url('/FavoritMonoStd-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #3278EA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'FavoritMonoStd', var(--font-geist-sans);
  --font-mono: 'FavoritMonoStd', var(--font-geist-mono);
}
html{
  font-size: 14px;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'FavoritMonoStd', Arial, Helvetica, sans-serif;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}